

<main class="main">
  <div class="content">
    <empower-rf-app-title></empower-rf-app-title>
    <app-radio-display></app-radio-display>
    <app-audio-player></app-audio-player>
    <app-change-channel></app-change-channel>
    <br />
    <p align="center">Hint: 98.7 MHz works well.</p>
    <br />
    <p align="center">The source for this demo can be found here: <a href="https://gitlab.com/RyanAllan/empowerRFDemo">https://gitlab.com/RyanAllan/empowerRFDemo</a></p>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
